/* 14. CSS3 Elements
*********************************************************************************************/

a.continue, 
#submit,
#paginate a,
.nav-previous a,
.nav-next a {
-webkit-font-smoothing: antialiased;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-box-shadow: 0 0 1px #2a2a2a;
-webkit-box-shadow: 0 0 1px #2a2a2a;
box-shadow: 0 0 1px #2a2a2a;
}

a.continue, 
#submit:hover,
#paginate a:hover,
.nav-previous a:hover,
.nav-next a:hover {
background: rgb(229,229,229);
background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(153,153,153,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(153,153,153,1)));
background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(153,153,153,1) 100%);
background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(153,153,153,1) 100%);
background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(153,153,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#999999',GradientType=0 );
/*background: linear-gradient(top, rgba(229,229,229,1) 0%,rgba(153,153,153,1) 100%);*/
background: #96141b;
color:#fff
}

#submit,
#paginate a,
.nav-previous a,
.nav-next a {
-moz-box-shadow: 0 0 4px #CCCCCC;
-webkit-box-shadow: 0 0 4px #CCCCCC;
box-shadow: 0 0 4px #CCCCCC;
}

#paginate a {
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
}

#paginate a.current-page {
opacity: 0.5;
}

a.continue:hover, 
#submit,
#paginate a,
.nav-previous a,
.nav-next a {
background: rgb(252,252,252);
background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(201,201,201,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(201,201,201,1)));
background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(201,201,201,1) 100%);
background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(201,201,201,1) 100%);
background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(201,201,201,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#c9c9c9',GradientType=0 );
background: #bd4d35;
color:#fff;
/*background: linear-gradient(top, rgba(252,252,252,1) 0%,rgba(201,201,201,1) 100%);*/
}

#video-container, 
.no-categories {
-moz-border-radius-bottomleft: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
}

.avatar, 
.wp-caption {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0px 0px 2px #CCCCCC;
-moz-box-shadow: 0px 0px 2px #CCCCCC;
box-shadow: 0px 0px 2px #CCCCCC;
}

.featured-category img, 
.featured-post img  {
-webkit-box-shadow: 0px 0px 0px #000000;
-moz-box-shadow: 0px 0px 0px #000000;
box-shadow: 0px 0px 0px #000000;
}

#author, 
#email, 
#url, 
#comment, 
.menu li ul,
#sidebar input#s {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.menu li ul {
-webkit-box-shadow: 0px 0px 4px #333333;
-moz-box-shadow: 0px 0px 4px #333333;
box-shadow: 0px 0px 4px #333333;
opacity: 0.9;
}

.menu a, 
.menu a:visited, 
#categories a, 
#categories p {
/*text-shadow: -1px -1px 0 #3C3C3C;*/
-webkit-font-smoothing: antialiased;
}

.menu li ul a, 
.menu li ul a:visited {
text-shadow: 0 0 1px #878787;
}

.featured-post-description h2 a {
font-family: 'Lobster', cursive;
font-size:1.5em;
line-height:1em;
color:#fff;
text-shadow: #181818 -1px -1px 0;
-webkit-font-smoothing: antialiased;
}




/* Just for Firefox
*********************************************************************************************/

@-moz-document url-prefix() {
	.menu {
	padding-top: 8px;
	}
	
	#paginate a {
	padding: 3px 8px 1px 8px;
	}
	
	a.continue {
	padding: 7px 12px 5px 12px;
	}
	
	#submit {
	padding: 9px 12px 7px 12px;
	}
}


/* Embedded Fonts
*********************************************************************************************/
@font-face {
	font-family: 'RieslingRegular';
	src: url('fonts/riesling.eot');
	src: local('Riesling Regular'), local('Riesling'), url('fonts/riesling.ttf') format('truetype');
}